export BIGCGI_ENV="TEST"
export BIGCGI_SECRET_KEY="secret key"
export BIGCGI_ADMIN_PASSWORD="admin password"
export BIGCGI_SMTP_USERNAME="smtp username"
export BIGCGI_SMTP_PASSWORD="smtp password"
export BIGCGI_DATABASE_URL="mongodb://localhost:27017"
export BIGCGI_DATABASE_USERADMIN_PASSWORD="useradmin password"
export BIGCGI_DATABASE_USERNAME="database username"
export BIGCGI_DATABASE_PASSWORD="database password"
export BIGCGI_INSTANCE_ID="0"
export BIGCGI_TOTAL_INSTANCES=1
export BIGCGI_TMP_FILE_STORE='/var/bigcgi'