export BIGCGI_SECRET_KEY="secret key"
export BIGCGI_ADMIN_PASSWORD="admin password"
export BIGCGI_SMTP_USERNAME="smtp username"
export BIGCGI_SMTP_PASSWORD="smtp password"
export BIGCGI_DATABASE_USERNAME="database username"
export BIGCGI_DATABASE_PASSWORD="database password"