<html>
  <body>
    <h1>500 Error</h1>
    <p>A system level occured in the execution of this script:</p>
    <p style="border:1px solid black">stdout: {{output}}</p>
    <p style="border:1px solid red">stderr: {{error}}<p>
    
    <p>Errors occur for a variety of reasons:</p>
    <ul>
      <li>The app returned a nonzero status code</li>
      <li>The app timed out</li>
      <li>The app violated resource constraints</li>
      <li>You are not the rightful user of the app</li>
      <li>Various operating system/bigCGI problems</li>
    </ul>
    <p>Please contact bigCGI support if you need assistance.</p>
   
  </body>
</html>
