<!--
This file is part of bigCGI.

bigCGI is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bigCGI is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bigCGI.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8" />
  <title>bigCGI</title>
  <meta name="Serverless computing with CGI" content="" />
  <meta name="bmsauer" content="" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Font -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet" /> 

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/normalize.css" />
  <link rel="stylesheet" href="/static/css/skeleton.css" />
  <link rel="stylesheet" href="/static/css/custom.css" />
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/static/img/favicon.png" />

</head>
<body>

  <!-- Primary Page Layout -->
  <div class="container">
    <div class="row">
      <div class="12 columns header">
	%include("header.html")
      </div>
    </div>
    <div class="row">
      <div class="three columns sidebar alpha">
	%include("sidebar.html", current_user=get("current_user",None))
      </div>
      <div class="nine columns content omega">
	%if get("flash",None):
	<div class="flash"><p>{{flash}} <a href="?">clear</a></p></div>
	%end
	%if get("error",None):
	<div class="error"><p>{{error}} <a href="?">clear</a></p></div>
	%end
	<h2>{{get("title","")}}</h2>
	{{!base}}
	<hr/>
	<p class="footer">bigcgi.app (AT) gmail.com | &copy;2017, All rights Reserved</p>
      </div>
    </div>
  </div>

<!-- End Document -->
</body>
</html>
