<!--
This file is part of bigCGI.

bigCGI is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bigCGI is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bigCGI.  If not, see <http://www.gnu.org/licenses/>.
-->
%rebase("base.html")

%if not get("apps",None):
<p>You have no apps!</p>
%else:
%for app in apps:
<div class="row app-row">
  <div class="two-thirds column alpha">
    <div class="app-container">
    <h3>{{app["name"]}}</h3>
    <ul>
      <li><strong>Hits:</strong> {{app["hits"]}}</li>
      %if app["hits"] > 0:
      <li><strong>Avg Time (ms):</strong> {{round(app["total_millisecs"]/app["hits"],2)}}</li>
      %else:
      <li><strong>Avg Time (ms):</strong> 0 </li>
      %end
      <li>bigcgi.com/{{current_user}}/run/{{app["name"]}}</li>
    </ul>
    </div>
  </div>
  <div class="one-third column omega">
    <div class="action-container">
      <a href="/delete-app/{{app['name']}}"><img src="static/img/trash-4x.png" alt="Delete" title="Delete"/></a>
      <a href="/upgrade-app/{{app['name']}}"><img src="static/img/arrow-circle-top-4x.png" alt="Re-Upload" title="Upgrade"/></a>
      <a href="/logs/{{app['name']}}"><img src="static/img/list-4x.png" alt="Logs" title="Logs"/></a>
      %if app["security"] == 0:
      <form class="button-form" method="post" action="/secure-app/{{app['name']}}/1">
	<input type="image" src="static/img/lock-unlocked-4x.png" alt="Secure App" title="Secure App"/>
	<input type="hidden" name="csrf" value="{{csrf}}" />
      </form>
      %else:
      <form class="button-form" method="post" action="/secure-app/{{app['name']}}/0">
	<input type="image" src="static/img/lock-locked-4x.png" alt="Unsecure App" title="Unsecure App" />
	<input type="hidden" name="csrf" value="{{csrf}}" />
      </form>
      %end
    </div>
  </div>
</div>
%end

%end

<a class="button button-primary" href="create-app"><img src="static/img/cloud-upload-3x.png" alt = "Upload"/>Create App</a>
