<!--
This file is part of bigCGI.

bigCGI is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bigCGI is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bigCGI.  If not, see <http://www.gnu.org/licenses/>.
-->
%rebase("base.html")
<h3>Roadmap</h3>
<p>Below is a list of proposed features, in no particular order of priority.</p>
<dl>
  <dt>Chaining</dt>
  <dd>This allows apps to specify other apps to run automatically upon completion or error of an application</dd>
  <dt>Scheduling</dt>
  <dd>This would allow CGI applications to be run on a timed schedule, allowing for custom parameters for each time.  This could fulfull a similar role as <a href="http://dkron.io/intro/">dkron</a>.</dd>
  <dt>Fast-CGIish Integration</dt>
  <dd>This would allow for long-standing processes to serve fast CGI requests. Should significantly improve performance</dd>
  <dt>Versioning</dt>
  <dd>This feature creates built in versioning of apps.  Basically, the applications would be stored in the database to allow fast rollback and the ability to run multiple versions of the same application.</dd>
  <dt>API Control</dt>
  <dd>This enables developers to add, remove, update, and query applications via a RESTful API.</dd>
  <dt><span style="color:green">Attachments / File IO</span></dt>
  <dd>With this feature, applications could read and write to files on the system.  This is challenging due to the distributed nature of bigCGI.</dd>
</dl>
<p>Green text denotes what is currently in progress.  What matters to you?  If you would like to see one of these, or any other, features implemented, drop me a line at bigcgi.app (_at_) gmail.com.</p>
<h3>Source</h3>
<p>bigCGI is free software released under the GPL.  The source is hosted on <a href="https://github.com/bmsauer/bigcgi">GitHub</a>.</p>
