%rebase("base.html")

<h3>FAQ</h3>
<dl>
  <dt>What is CGI?</dt>
  <dd>CGI stands for "Common Gateway Interface" and is a standard protocol for how servers should
    communicate with dynamic scripts.  Simply put, servers that support CGI write HTTP data, like
    GET and POST parameters, to environment variables, and server whatever the scripts writes to
    STDOUT.</dd>
  <dt>What languages can I use to write CGI applications?</dt>
  <dd>CGI scripts can be written in any language that supports reading environment variables and
    writing to STDOUT.  Common languages for this are Python, Perl, TCL, C++, or Bash</dd>
</ul>
<h3>Resources</h3>
<ul>
  <li><a href="http://www.oreilly.com/openbook/cgi/index.html">CGI Programming for the World Wide Web</a> - an O'Reilly Publication about CGI</li>
  <li><a href="http://www.htmlhelp.com/faq/cgifaq.html">CGI Programming FAQ</a> - useful set of basic information and techniques</li>
</ul>
<h3>Contact</h3>
<p>If you need additional help, drop me a line at bigcgi.app (_at_) gmail.com.</p>
