<!--
This file is part of bigCGI.

bigCGI is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bigCGI is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bigCGI.  If not, see <http://www.gnu.org/licenses/>.
-->
%rebase("base.html")

<div class="row">
  <div class="twelve columns"> <!--whole column doesn't exist-->
    <h2 style="text-align:center;"><span class="armata">big<span class="darkorchid">CGI</span></span> is a serverless computing platform harnessing the ancient magic of CGI.</h2>
  </div>
</div>

<hr/>

<div class="row">
  <div class="one-half column alpha" style="text-align:center">
    <a href="/register" class="button button-primary" style="width:100%">Sign Up Now</a>
  </div>
  <div class="one-half column omega" style="text-align:center">
    <a href="http://eepurl.com/difRvb" class="button" style="width:100%">Subscribe To The Newsletter</a>
  </div>
</div>



<hr/>

<div class="row">
  <div class="one-half column alpha feature">
    <h3>Instantly Scalable</h3>
    <p>You upload a binary or script and we handle the rest.  Write apps, not infrastructure.</p>
  </div>
  <div class="one-half column omega feature">
    <h3>Any Language</h3>
    <p>If it can read environment variables and write to standard out, it's fair game.  C, Python, Ada, TCL, GO, AWK... The list goes on.</p>
  </div>
</div>
<div class="row">
  <div class="one-half column alpha feature">
    <h3>Stateless</h3>
    <p>CGI was designed to be stateless before stateless was cool.</p>
  </div>
  <div class="one-half column omega feature">
    <h3>Do Anything</h3>
    <p>Host a webservice, serve HTML, run background tasks.  If it can be done in CGI, it can be done with bigCGI.</p>
  </div>
</div>

<div class="row">
  
  <div class="one-half column alpha feature">
    <h3>Easy Deploy</h3>
    <p>Step 1: write script.  Step 2: Upload.  No packaging requirements what-so-ever.</p>
  </div>
  <div class="one-half column omega feature">
    <h3>Test Locally</h3>
    <p>CGI apps are just binaries, so they are vendor agnostic can be tested locally.</p>
  </div>
</div>


  

