%rebase("base.html")

<div class="row">
  <div class="twelve columns"> <!--whole column doesn't exist-->
    <h2 style="text-align:center;"><span class="armata">big<span class="darkorchid">CGI</span></span> is a serverless computing platform harnessing the ancient magic of CGI.</h2>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="one-third column alpha feature">
    <h3>Instantly Scalable</h3>
  </div>
  <div class="one-third column feature">
    <h3>Use Your Own Language</h3>
  </div>
  <div class="one-third column omega feature">
    <h3>Stateless... or not.</h3>
  </div>
</div>

<div class="row">
  <div class="one-third column alpha feature">
    <p>You upload a binary or script and we handle the rest.  Write apps, not infrastructure.</p>
  </div>
  <div class="one-third column feature">
    <p>If it can read environment variables and write to standard out, it's fair game.  C, Python, Ada, TCL, GO... The list goes on.</p>
  </div>
  <div class="one-third column omega feature">
    <p>CGI was designed to be stateless before stateless was cool.  But you're welcome to use databases and even file IO if you need it.</p>
  </div>
</div>

<div class="row">
  <div class="one-third column alpha feature">
    <h3>Do Anything</h3>
  </div>
  <div class="one-third column feature">
    <h3>Easy Deploy</h3>
  </div>
  <div class="one-third column omega feature">
    <h3>Test Locally</h3>
  </div>
</div>

<div class="row">
  <div class="one-third column alpha feature">
    <p>Host a webservice, serve HTML, run background tasks.  If it can be done in CGI, it can be done with bigCGI.</p>
  </div>
  <div class="one-third column feature">
    <p>Step 1: write script.  Step 2: Upload.  No packaging requirements what-so-ever.</p>
  </div>
  <div class="one-third column omega feature">
    <p>CGI apps are just binaries, so they can be tested locally with ease..</p>
  </div>
</div>

<div class="row">
  <div class="twelve-colums alpha omega" style="text-align:center">
    <a href="/register" class="button">Sign Up Now</a>
  </div>
</div>
  

