<!--
This file is part of bigCGI.

bigCGI is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bigCGI is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bigCGI.  If not, see <http://www.gnu.org/licenses/>.
-->
%rebase("base.html", title=title)
<form action="/login" method="POST">
  <label for="username">Username:</label><br/>
  <input type="text" name="username" /><br/>
  <label for="password">Password:</label><br/>
  <input type="password" name="password" /><br/>
  <input type="hidden" name="csrf" value="{{csrf}}" />
  <input type="submit" />
  <p>Not signed up yet?  You can register <a href="/register">here</a>.</p>
  <p>Forget your password?  Reset it <a href="/reset-password">here</a>.</p>
</form>
