%rebase("base.html")
<h3>The bigCGI Manifesto</h3>
<p>The mission of bigCGI is to assist in the solutions to these grievances:</p>
<ul>
  <li>The internet is bloated by an unnecessary and reckless use of javascript.</li>
  <li>Ad networks do not respect users' privacy, usability, or intelligence.</li>
  <li>Internet content should be independent of massive corporations. </li>
  <li>The internet is becoming a consumerist wasteland, where information and content producers are becoming increasingly devalued.</li>
  <li>The internet has a high barrier of entry for novices, students, and small business.</li>
</ul>
<p>I am calling for a return to web minimalism and the end of corporate encouragement of content overconsumption at the expense of the end user and the greater good.</p> 
