<!--
This file is part of bigCGI.

bigCGI is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bigCGI is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bigCGI.  If not, see <http://www.gnu.org/licenses/>.
-->
%rebase("base.html", title=title)
<!--<form action="register" method="POST">
  <label for="username">Username:</label><br/>
  <input type="text" name="username" /><br/>
  <label for="password">Password:</label><br/>
  <input type="password" name="password" /><br/>
  <label for="email_address">Email:</label><br/>
  <input type="text" name="email_address" /><br/>
  <input type="hidden" name="csrf" value="{{csrf}}" />
  <input type="submit" />
</form>-->
<p>bigCGI is currently in closed beta.  If you would like invitation to the platform, 
please email bigcgi.app@gmail.com with who you are, how you found bigCGI, and what you
are hoping to accomplish with the platform.  Thanks!</p>

<p>By creating an account, you agree to the <a href="terms">Terms of Service</a></p>
