<!--
This file is part of bigCGI.

bigCGI is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bigCGI is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bigCGI.  If not, see <http://www.gnu.org/licenses/>.
-->
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/docs">Documentation</a></li>
  <li><a href="development">Development</a></li>
  <li><a href="pricing">Pricing</a></li>
  <li><a href="terms">Terms of Service</a></li>
  <li><a href="https://blog.bigcgi.com">Blog</a></li>
</ul>
<hr/>
%if current_user == None:
<a class="button" href="/login">Login</a>
%else:
<p>Hello {{current_user}}.</p>
<a class="button button-primary" href="/dashboard">Dashboard</a>
<a class="button" href="/logout">Logout</a>
%end
