export BIGCGI_ENV="{{bigcgi_env}}"
export BIGCGI_SECRET_KEY="{{bigcgi_secret_key}}"
export BIGCGI_ADMIN_PASSWORD="{{bigcgi_admin_password}}"
export BIGCGI_SMTP_USERNAME="{{bigcgi_smtp_username}}"
export BIGCGI_SMTP_PASSWORD="{{bigcgi_smtp_password}}"
export BIGCGI_DATABASE_USERADMIN_PASSWORD="{{bigcgi_database_useradmin_password}}"
export BIGCGI_DATABASE_USERNAME="{{bigcgi_database_username}}"
export BIGCGI_DATABASE_PASSWORD="{{bigcgi_database_password}}"
export BIGCGI_INSTANCE_ID="{{bigcgi_instance_id}}"
export BIGCGI_TOTAL_INSTANCES="{{bigcgi_total_instances}}"
export BIGCGI_TMP_FILE_STORE="{{bigcgi_tmp_file_store}}"
